@charset "utf-8";

body {
    background-color: #000;
}

.header {
    /* background-color: transparent; */
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header-logo {
    /* position: fixed;
    top: 40px;
    left: 40px;
    z-index: 100; */
}


.header-logo a {
    display: block;
}

.header-logo img {
    width: 120px;
    vertical-align: top;
    /* filter: invert(100%); */
}

.header .btn-menu {
    /* position: fixed;
    top: 40px;
    right: 40px;
    z-index: 100; */
}
.header .btn {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 40px;
    /* height: 40px; */
    padding: 13px;
}
.header .btn .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
}
.header .btn .line:last-child {
    margin-bottom: 0;
}

.main {
    padding-top: 120px;
}
.main .contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main .portfolio-title p {
    width: 100%;
    max-width: 912px;
    color: #fff;
    font-size: 24px;
    line-height: 40px;
    padding: 0 40px;
    box-sizing: border-box;
}

.main .portfolio {
    margin-top: 120px;
}
.main .portfolio-list::after {
    content: '';
    display: block;
    clear: both;
}

.main .portfolio-list li {
    /* width: 33.3%; */
    width: calc(100% / 2);
    float: left;
    position: relative;
    /* box-shadow: inset 0 0 0 25px #53a7ea; */
}

.main .portfolio-list li:nth-child(2n) {
    margin-top: 80px;
}

.main .portfolio-list a {
    display: block;
    position: relative;
}

.main .portfolio-list img {
    width: 100%;
    vertical-align: top;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
    position: relative;
}

.main .portfolio-list li:hover img {
    transform: scale(0.9);
}

.main .portfolio-list .txt {
    /* opacity: 0; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: all 0.5s ease; */
}

/* .main .portfolio-list li:hover .txt {
    opacity: 1;
} */

.main .portfolio-list .txt b {
    font-size: 24px;
    font-weight: 400;
    /* font-size: 48px; */
    /* font-size: 2.5vw; */
    color: #fff;
}

.main .portfolio-list .txt p {
    font-size: 16px;
    /* font-size: 24px; */
    /* font-size: 1.25vw; */
    color: #fff;
}

.footer {
    background-color: #000;
    /* opacity: 0.7; */
}

.footer-contents {
    height: 64px;
    padding: 0 40px;
}

.footer-contents p {
    color: #fff;
    /* opacity: 0.7; */
    font-size: 14px;
    line-height: 64px;
}
