@charset "utf-8";

body {
    background-color: #000;
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.header-logo a {
    display: block;
}

.header-logo img {
    width: 120px;
    vertical-align: top;
    /* filter: invert(100%); */
}

.header .btn {
    width: 40px;
    padding: 13px;
}

.header .btn .line {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 10px;
    background-color: #fff;
}

.header .btn .line:last-child {
    margin-bottom: 0;
}

.main {
    padding-top: 120px;
}

.main .contents {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main .portfolio-title p {
    width: 100%;
    max-width: 912px;
    padding: 0 40px;
    font-size: 24px;
    line-height: 40px;
    box-sizing: border-box;
    color: #fff;
}

.main .portfolio {
    margin-top: 120px;
}

.main .portfolio-list::after {
    content: '';
    display: block;
    clear: both;
}

.main .portfolio-list li {
    position: relative;
    float: left;
    width: calc(100% / 2);
}

.main .portfolio-list li:nth-child(2n) {
    margin-top: 80px;
}

.main .portfolio-list a {
    position: relative;
    display: block;
}

.main .portfolio-list img {
    position: relative;
    width: 100%;
    vertical-align: top;
    transition: transform .3s cubic-bezier(.215, .61, .355, 1);
}

.main .portfolio-list li:hover img {
    transform: scale(0.9);
}

.main .portfolio-list .txt b {
    font-size: 24px;
    font-weight: 400;
    /* font-size: 48px; */
    /* font-size: 2.5vw; */
    color: #fff;
}

.main .portfolio-list .txt p {
    font-size: 16px;
    /* font-size: 24px; */
    /* font-size: 1.25vw; */
    color: #fff;
}

.footer {
    background-color: #000;
    /* opacity: 0.7; */
}

.footer-contents {
    height: 64px;
    padding: 0 40px;
}

.footer-contents p {
    /* opacity: 0.7; */
    font-size: 14px;
    line-height: 64px;
    color: #fff;
}
